h1, h2, h3, h4, h5, h6 {
  color: #525c65; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

p {
  font-size: 15px;
  color: #636363; }

.grayed {
  color: #c6c6c6; }

.navbar-nav a {
  color: #fff;
  text-shadow: 0px 1px 1px black; }

.intro {
  text-shadow: 0px 1px 1px black; }
  .intro h1 {
    color: #fff; }
  .intro p {
    color: #fff; }
  .intro .grayed {
    color: #9da4aa;
    margin-bottom: 50px; }
  .intro .left {
    text-align: center; }
  .intro .right {
    padding-top: 20px; }
  .intro a {
    color: #fff; }

.btn-primary {
  background: #549bcf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #549bcf 0%, #4686c4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #549bcf), color-stop(100%, #4686c4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #549bcf 0%, #4686c4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #549bcf 0%, #4686c4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #549bcf 0%, #4686c4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #549bcf 0%, #4686c4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#549bcf', endColorstr='#4686c4',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #216e9c; }
  .btn-primary:hover {
    background: #549bcf; }

.btn {
  -moz-box-shadow: inset 0 1px 0 0 #aed1e7;
  -webkit-box-shadow: inset 0 1px 0 0 #aed1e7;
  box-shadow: inset 0 1px 0 0 #aed1e7;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5); }

.round {
  border-radius: 2em;
  -moz-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3), inset 0 1px 0 0 #aed1e7;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3), inset 0 1px 0 0 #aed1e7;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3), inset 0 1px 0 0 #aed1e7; }

.navbar-brand, .navbar-nav > li > a {
  text-shadow: 0px 1px 0px black; }

header {
  background: url("../images/bg.png"); }
  header .nav {
    margin-top: 38px; }
    header .nav .logo {
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      background: url("../images/apptastico-logo.png");
      width: 155px;
      padding: 13px;
      z-index: 2; }
      header .nav .logo:hover {
        background-color: transparent;
        opacity: .5; }

.navbar-right a.active, .navbar-right a:hover {
  background: #3c454e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c454e 0%, #48525c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c454e), color-stop(100%, #48525c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3c454e 0%, #48525c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3c454e 0%, #48525c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3c454e 0%, #48525c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3c454e 0%, #48525c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c454e', endColorstr='#48525c',GradientType=0 );
  /* IE6-9 */
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2em;
  -moz-box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 2px 0 rgba(0, 0, 0, 0.5); }

.intro {
  margin-top: 60px; }
  .intro .btn {
    padding: 12px 45px;
    margin-right: .7em; }
  .intro i {
    background: url("../images/apptastico-asset.png") -240px 0px;
    padding: 0px 13px;
    margin-left: 8px;
    margin-right: 5px; }

.featured {
  background: #efefef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #efefef 0%, #e7e7e7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #e7e7e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efefef 0%, #e7e7e7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #efefef 0%, #e7e7e7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #efefef 0%, #e7e7e7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #efefef 0%, #e7e7e7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#e7e7e7',GradientType=0 );
  /* IE6-9 */
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #c3c3c3;
  -moz-box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.7); }
  .featured ul {
    margin-left: 8%; }
  .featured li {
    position: relative;
    display: inline-block;
    width: 20%;
    float: left; }
  .featured a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/apptastico-asset.png");
    padding: 20px;
    width: 108px;
    height: 61px; }
    .featured a.deviant-art {
      background-position: 8px -43px; }
      .featured a.deviant-art:hover {
        background-position: 8px -98px; }
    .featured a.ebay {
      background-position: -104px -43px; }
      .featured a.ebay:hover {
        background-position: -104px -98px; }
    .featured a.mcdo {
      background-position: -206px -43px; }
      .featured a.mcdo:hover {
        background-position: -206px -98px; }
    .featured a.addidas {
      background-position: -291px -43px; }
      .featured a.addidas:hover {
        background-position: -291px -98px; }
    .featured a.ea {
      background-position: -391px -43px; }
      .featured a.ea:hover {
        background-position: -391px -98px; }

.flow {
  padding-top: 95px; }
  .flow .btn {
    padding: 10px 15px; }

.projects {
  padding-top: 95px; }
  .projects i {
    background: url("../images/apptastico-asset.png") -1px 0px;
    padding: 5px 11px;
    margin-right: 10px; }

.blog {
  padding: 0; }
  .blog h3 {
    margin: 0 0 .5em; }
  .blog i {
    background: url("../images/apptastico-asset.png") -29px 0px;
    padding: 5px 11px;
    margin-right: 10px; }

.tweet {
  padding: 0; }
  .tweet i {
    background: url("../images/apptastico-asset.png") -56px 0px;
    padding: 2px 13px;
    margin-right: 10px; }
  .tweet article {
    margin-bottom: 20px; }

.blog h2, .tweet h2 {
  margin-bottom: 20px; }

footer {
  padding: 20px; }
  footer ul a {
    display: block;
    background: url("../images/apptastico-asset.png");
    text-indent: -9999px;
    overflow: hidden;
    color: transparent;
    width: 30px;
    height: 30px; }
    footer ul a:hover {
      color: transparent;
      opacity: .5; }
    footer ul a.facebook {
      background-position: -86px -1px; }
    footer ul a.twitter {
      background-position: -127px -1px; }
    footer ul a.linkedin {
      background-position: -168px -1px; }
    footer ul a.dribbble {
      background-position: -209px -1px; }

.slider li {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  border: solid #fff 5px;
  left: -5px;
  background: #fff; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: none; }

.bx-viewport {
  height: 160px; }

.bx-prev {
  background: url("../images/apptastico-asset.png") -8px -195px;
  color: transparent;
  position: relative;
  padding: 15px;
  top: -10em;
  left: -5em; }
  .bx-prev:hover {
    color: transparent;
    opacity: .5; }

.bx-next {
  background: url("../images/apptastico-asset.png") -48px -195px;
  color: transparent;
  position: relative;
  padding: 15px;
  top: -10em;
  left: 70em; }
  .bx-next:hover {
    color: transparent;
    opacity: .5; }

.bx-wrapper .bx-viewport {
  box-shadow: none;
  left: -5px;
  background: #fff; }
